body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background-color: #F6F6FB;
  color: #4b4e67;
  //min-width: 800px;
  //max-width: 1920px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1 {
	color: #5bb7db;
}

.rt-td {
  font-size: 15px;
  color: #222222;
  text-align: center;

}

.checkboxInput {
  margin-bottom: 12px;
  }
